body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#level-list {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.level-item {
    margin-bottom: 15px;
}

.level-item h2 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

.level-item p {
    margin: 5px 0 0;
}
